@charset "UTF-8";
.navigation ul li:nth-of-type(4){
    background: #5E0000;
}
/*===============================================main start*/
.payment section{
    width:66.66666666666666%;
    padding-bottom: 30px;
    border-bottom: 1px dotted #D1D1D1;
}
.payment section:last-of-type{
    border-bottom:transparent;
}
.payment h2{
    font-size: 48px;
    color: black;
    display: block;
    font-weight: 100;
    padding: 63px 0 32px;
    transition: .6s;
}
.payment h2 small{
    font-size: 13px;
    display: block;
    padding: 2px;
    line-height: 25px;
}
.payment h3{
    font-size: 24px;
    color: black;
    display: block;
    padding: 60px 0 34px;
}
.payment h3 small{
    font-size: 14px;
    color: #A9A9A9;
    display: block;
    font-weight: 300;
    line-height: 25px;
}
.payment h4{
    color: #696969;
    font-size: 13px;
    margin-top: 30px;
    padding-bottom: 20px;
}
.payment h5{
    color: #696969;
    font-size: 13px;
    font-weight: 300;
}
.payment p{
    color: #696969;
    font-size: 13px;
    font-weight: 300;
    line-height: 26px;
}
.payment div{
    padding-bottom: 30px;
 }
/*===============================================main end*/
@media screen and (max-width: 768px){
    .payment h2{
        font-size: 28px;
    }
    .payment section{
        width: 100%;
    }
}
