@charset "UTF-8";
#container{
    position: relative;
}
.leftView{
    position: relative;
    width: 418px;
    height: 418px;
}
.smallImg{
    max-height: 100%;
    max-width: 100%;
}
.mask{
    display: none;
    position: absolute;
    /*background: url(./images/mask_bg.png);*/
    cursor: move;
}
.rightView{
    position: absolute;
    left:458px;
    top:0;
    width:418px;
    height:418px;
    overflow:hidden;
}
.bigImg{
    position: absolute;
    top:0;
    left:0;
}