@charset "UTF-8";
.none{
    display: none;
}
main img{
    width: 100%;
    height: 100%;
}
/*============================================main start*/
/*============================================box start*/
main ol{
    color: #666666;
    font-size: 13px;
    font-family: 宋体;
    line-height: 57px;
}
main ol li a{
    color: #666666;
    font-size: 13px;
    font-family: 宋体;
}
#tab li{
    float: left;
}
main{
    padding: 0 15px 100px 15px;
}
main .product{
    box-shadow: 0px 0px 5px #bababa
}
main .product .box{
    width: 75%;
}
main .product .thirteen{
    width: 332px;
}
main .box .sample{
    width: 75.5px;
}
main .product figure{
    margin: 0 15px;
}
main .box figure figcaption{
    width: 56%;
}
main .box figure figcaption h3{
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: normal;
    color: rgb(0, 0, 0);
    font-family: 黑体;
    padding: 43px 0 5px 0;
    position: relative;
}
main .box figure figcaption h3:before{
    position: absolute;
    content: '';
    background-color: #ddd;
    display: block;
    height: 3px;
    margin: 15px 0;
    left: 0;
    bottom:-30px;
    width:80px;
}
main .box figure figcaption>p{
    font-size: 12px;
    font-weight: normal;
    color: rgb(153, 153, 153);
    font-family: 微软雅黑;
    line-height: 18px;
}
main .box figure figcaption h4{
    font-size: 28px;
    font-weight: normal;
    color: #dd3333;
    font-family: tahoma;
    line-height: 28px;
    margin:40px 0 15px;
}
main .classification{
    width: 100% !important;
}
main .classification span{
    border-top: 1px dotted #ddd;
    display: block;
    padding: 7px 0;
}
main .classification p{
    border-top: 1px dotted #ddd;
    display: block;
    padding: 7px 0;
}
main .classification p a{
    font-size: 12px;
    font-weight: normal;
    color: rgb(221, 99, 99);
    font-family: 微软雅黑;
}
main .but {
    display: block;
    padding: 16px 80px;
    background: #5E0000;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    margin:15px 15px 15px 0;
}
main .container button{
    border:1px solid #56181A;
    height: 46px!important;
    width: 36px!important;
    background: transparent;
    display:inline-block;
    margin: 0;
}
main .container input{
    border:1px solid #56181A;
    height: 46px!important;
    width: 36px!important;
    background: transparent;
    display:inline-block;
    margin:-4px;
    border-left-color:transparent;
    border-right-color:transparent;
    margin-top: 15px;
}
main .describe{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
main .describe li{
    font-size: 14px;
    font-weight: bold;
    color: rgb(153, 153, 153);
    font-family: 微软雅黑;
    margin-right: 25px;
    position: relative;
    padding: 10px 15px;
    border-top: 4px solid transparent;
    cursor:pointer;
    margin-bottom: 10px;
}
main .describe li.active{
    border-top: 4px solid #333;
    color:#333 ;
}
main #wrap img{
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}
main .container{
    margin: 0 30px 0 20px;
}
main .container>p{
    font-size: 14px;
    font-weight: bold;
    color: #555555;
    font-family: 微软雅黑;
    margin-top: 15px;
}
main .container .relevant span{
    display: block;
    font-size: 13px;
    color: #494949;
    margin-bottom: 6px;
}
main .container .relevant a{
    font-size: 14px;
    font-weight: bold;
    color: #dd3333;
    line-height: 21px;
    margin-bottom: 6px;
}
main .container figure{
    margin: 0 15px 15px 0;
}
main .relevant figure{
    width:calc((100% /4) - 30px);
}
main .describe p{
    font-size: 13px;
    font-weight: normal;
    color: #666666;
    font-family: 微软雅黑;
    line-height: 18px;
    border-top: 3px solid #eee;
    padding-top: 10px;
    margin-bottom: 10px;
}
/*======================================================= box end*/
/*======================================================= side start*/
main .side{
    background: #F7F7F7;
    width: 20%;
}
main .side a div{
    width: 90px;
    height: 90px;
    padding-bottom: 10px;
}
main .side h5{
    color: #FFFFFF;
    font-size: 15px;
    padding: 12px 12px 8px;
    background-color: #000000;
    line-height: 24px;
}
main .side figure{
    width:calc((100% /2) - 30px);
    text-align: center;
}
main .side figure a{
    display: block;
    font-size: 12px;
    line-height: 21px;
    color:#666666;
}
main .side figure:hover a{
    color: black;
}
main .side figure span{
    display: block;
    color: #adadad;
    font-size: 13px;
    font-family: 宋体;
    line-height: 21px;
}
main .side p{
    font-size: 13px;
    color: #000000;
    line-height: 25px;
    padding: 6px 12px;
}
/*============================================side end*/
/*============================================main end*/
/*============================================响应式 start*/
@media screen and (max-width:1200px) and (min-width:993px){
    main .product .thirteen{
        width: 250px;
    }
    main .box figure figcaption{
        width: 60%;
    }
    main .side{
        width: 25%;
    }
}
@media screen and (max-width:992px){
    main .product .box{
        width: 100%;
    }
    main .product .thirteen{
        width: 100%;
    }
    main .box figure figcaption{
        width: 100%;
    }
    main .side{
        display: none;
    }
    main .relevant figure{
        width: calc((100% /2) - 30px);
    }
}
@media screen and (max-width: 768px){

}
@media screen and (max-width:450px){

}
/*============================================响应式 end*/